.mainDiv{
  display: flex;
  justify-content: space-around; 
  align-items: flex-start;
  height: 100vh; 
  margin: 0;
}
.status-column {
  flex: 1;
  box-sizing: border-box;
  padding: 8px;
  border: 1px solid #ddd;
  margin: 8px;
  max-width: 33%; 
}