.mainDiv{
  display: flex;
  justify-content: space-around; /* Adjust as needed for spacing */
  align-items: flex-start;
  height: 100vh; /* 100% of the viewport height */
  margin: 0;
}
.status-column {
  flex: 1;
  box-sizing: border-box;
  padding: 8px;
  border: 1px solid #ddd;
  margin: 8px;
  max-width: 33%; /* Each column takes up a maximum of 33% of the width */
}